.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 10px;
    padding-bottom: 20px;
}

.item {
    margin-right: 10px;
    margin-bottom: 10px;
}

.product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 170px;
}

.img {
    width: 100%;
    background: transparent;
    height: 100px;
    margin: 0 auto;
}

.description {
    font-size: 0.8em;
}

.add-btn {
    width: 100%;
}

.sc__item {
    width: calc(50% - 5px);
}

.sc__image {
    height: 170px;
    width: 100%;
}

.sc__image div {
    width: 100% !important;
    height: 100% !important;
}

.sc__descrip {
    margin-top: 10px;
}

.sc__descrip ul {
    margin-top: 10px !important;
}

.sc__descrip ul li + li {
    margin-top: 10px !important;
}