.product__detail {
    width: 100%;
    padding-top: 20px;
}

.image {
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.image img {
    width: 100%;
}

.discription {
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}

.variations {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.color {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: block;
}

.props {
    background: #dddddd;
    border-radius: 10px;
    padding: 10px;
}

.props .variations {
    margin-bottom: 15px;
}

.props tr {
    text-align: left;
    font-size: 16px;
}

.props th,
.props td {
    padding: 5px;
}

.image .sk__image {
    width: 100% !important;
    height: 385px;
}

.sk__name h3 {
    display: none;
}

.sk__name li:nth-child(3) {
    display: none;
}

.sk__props li {
    display: none;
}

.sk__flex {
    display: flex;
    gap: 10px;
}

.sk__props {
    width: 70%;
}

.sk__props:nth-child(1) {
    width: 30%;
}

.sk__props h3 {
    width: 100% !important;
}

.button {
    padding: 10px 15px;
    background-color: #0084ff;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    justify-content: center;
}

.element span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}

.element .active {
    border: 1px solid red;
    border-radius: 5px;
    overflow: hidden;
}

.element div {
    display: flex;
    gap: 5px;
    overflow-y: scroll;
}

.element input {
    display: none;
}

.element label {
    display: block;
    width: 40px;
    height: 55px;
    background-size: contain !important;
}