.drawer .ant-drawer-header-title .ant-drawer-title {
    order: 1;
}

.drawer .ant-drawer-header-title button {
    order: 2;
}

.drawer iframe {
    border: none;
}

.element {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

.element img {
    width: 70px;
    height: 70px;
}

.element._active {
    border: 1px solid #0084ff;
}

.description h3 {
    font-size: 14px;
    font-weight: bold;
}

.description span {
    color: rgba(0,0,0,.45);
    font-size: 14px;
}

