.header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color:  var(--tg-theme-text-color);
    color: var(--tg-theme-bg-color);
}

.element {
    margin: 0 20px;
    background-color: var(--tg-theme-bg-color);
    border-radius: 10px;
    padding: 0 10px;
}

.element a {
    color: var(--tg-theme-text-color)
}


.username {
    margin-left: auto;
}