* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--tg-theme-bg-color) !important;
  color: var(--tg-theme-text-color);
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
